



  <button *ngFor=" let card of cards; let idx = index"[attr.aria-label]="actionName" (click) ="clickedCard(idx)">
    <div class="flip-card" >
        <div [class]="getClass()">
          <div class="flip-card-front">
            <img src="./../assets/images/magic.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <img src="./../assets/images/backOfMagicCard.png" alt="Avatar" style="width:300px;height:300px;">
    
          </div>
        </div>
    </div>
 </button>




